<div>
<h2 class="text-2xl font-bold mb-10">Log in</h2>

<form action="<%= session_path(resource_name) %>" method="post">
  <div class="mb-4">
    <label class="block font-medium mb-2" for="email">Email</label>
    <input class="w-full border border-gray-400 p-2 rounded" type="email" name="email" id="email" autofocus autocomplete="email">
  </div>

  <div class="mb-4">
    <label class="block font-medium mb-2" for="password">Password</label>
    <input class="w-full border border-gray-400 p-2 rounded" type="password" name="password" id="password" autocomplete="current-password">
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-4">
      <input type="checkbox" name="remember_me" id="remember_me">
      <label class="inline-block font-medium ml-2" for="remember_me">Remember me</label>
    </div>
  <% end %>

  <input type="submit" value="Log in" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
</form>
</div>
